<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/about.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>About</title>
  </head>
  <body>
    <div class="about">
      <div class="about-header">
        <h2>About</h2>
        <p>This application helps you manage your campus life effectively.</p>
      </div>

      <div class="purpose">
        <h3>Purpose</h3>
        <p>
          The purpose of this application is to provide students with a
          centralized platform to manage their academic and extracurricular
          activities, ensuring they stay organized and informed.
        </p>
      </div>

      <div class="features">
        <h3>Key Features</h3>
        <div class="feature-grid">
          <div class="features-card">
            <i class="fa-solid fa-calendar-days"></i>
            <h4>Task/Event Management</h4>
            <p>
              Create, edit, and delete tasks and events with ease. Set reminders
              to stay on top of your schedule.
            </p>
          </div>
          <div class="features-card">
            <i class="fa-solid fa-magnifying-glass"></i>
            <h4>Regex Search</h4>
            <p>
              Utilize powerful regex search capabilities to find and manage your
              tasks and events efficiently.
            </p>
          </div>
          <div class="features-card">
            <i class="fa-solid fa-square-check"></i>
            <h4>Form Validation</h4>
            <p>
              Ensure that all forms are filled out correctly before submission.
            </p>
          </div>
          <div class="features-card">
            <i class="fa-solid fa-folder-open"></i>
            <h4>Import/Export</h4>
            <p>
              Easily import and export your tasks and events to and from other
              platforms.
            </p>
          </div>
        </div>
      </div>
      
      <div class="contact">
        <h3>Contact</h3>
        <p>If you have any questions or feedback, feel free to reach out!</p>

        <div class="contact-btn">
            <a href="https://github.com/EucTech" target="_blank" class="btn github-btn">
                <i class="fa-brands fa-github"></i>
                <p>GitHub</p>
            </a>
            <a href="mailto:u.ezeibe@alustudent.com" target="_blank" class="btn github-btn">
                <i class="fa-solid fa-envelope"></i>
                <p>Email</p>
            </a>
        </div>
      </div>
    </div>
  </body>
</html>
