<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/dashboard.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Dashboard</title>
  </head>
  <body>
    
    <div class="dashboard">
      <div class="dashboard-header">
        <h2>Dashboard</h2>
        <p>Welcome to your dashboard!</p>
      </div>

      <button id="addTaskBtn" class="add-task-btn">
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        Add Task
      </button>
    </div>

    <!-- Dashboard Stats -->
    <div class="stats-grid" id="statsGrid">
      <!-- Stats will be inserted here by JavaScript -->
      <div class="stats-card">
        <div class="stats-card-title-icon">
          <h4>Total Tasks</h4>
          <i class="fa-solid fa-check-double"></i>
        </div>

        <p>30</p>
      </div>
      <div class="stats-card">
        <div class="stats-card-title-icon">
          <h4>Completed Tasks</h4>
          <i class="fa-solid fa-check-double"></i>
        </div>

        <p>3</p>
      </div>
      <div class="stats-card">
        <div class="stats-card-title-icon">
          <h4>Total Hours</h4>
          <i class="fa-regular fa-alarm-clock"></i>
        </div>

        <p>20</p>
      </div>
      <div class="stats-card">
        <div class="stats-card-title-icon">
          <h4>Top Tag</h4>
          <i class="fa-solid fa-tag"></i>
        </div>

        <p>Work</p>
      </div>
    </div>
  </body>
</html>
