* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

main {
  flex: 1;
}

:root {
  --font-color: #37373c;
  --bg-color: #eaebee;
  --secondary-color: #0bbcd3ff;
  --border-color: #e3e6e6ff;
  --text-color: #6c757d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header Styles */
header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 20px 40px;
  border-bottom: 1px solid var(--border-color);
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header nav .logo h1 {
  font-weight: 700;
  font-size: 20px;
  color: var(--font-color);
}

header nav .logo .fa-calendar {
  font-size: 20px;
  color: var(--secondary-color);
}

/* Tab Styles */

header nav .tabs {
  display: flex;
  gap: 10px;
}

.page {
  display: none;
  padding: 100px 40px 40px 40px;
  z-index: 1000;
}

.page.active {
  display: block;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--font-color);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.15s;
  cursor: pointer;
}

.nav-link:hover {
  background-color: var(--bg-color);
}

.nav-link.active {
  background-color: var(--bg-color);
  font-weight: 500;
}

header nav .fa-bars {
  display: none;
}

@media (max-width: 600px) {
  header {
    padding: 30px 20px;
    z-index: 2000;
  }

  header nav .fa-bars {
    display: block;
  }

  header nav .tabs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -160px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    transition: right 0.3s ease-in-out;
  }

  header nav .tabs.show {
    right: 0px;
    transition: right 0.3s ease-in-out;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 100px 20px 40px 20px;
  }
}

/* footer styles */
footer {
  background-color: var(--bg-color);
  padding: 20px 40px;
  text-align: center;
  border-top: 1px solid var(--border-color);
}

footer p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}
